$orangeColor: #ff9800;
.assetCard {
    height: 100%;
    margin-left: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: inherit;
    cursor: pointer;
    max-width: 200px;
    border-radius: 4px;
    &:first-child {
        margin: 0;
    }
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}