html {
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #1A1A1A;
    color: #DCDBDE;
    h3,
    h2 {
        margin: 0;
    }
    .positionCenterXY {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .hiddenScrollBar {
        // hidden scroll bar style
        /* Internet Explorer 10+ */
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width: none;
        &::-webkit-scrollbar {
            /* Safari and Chrome */
            display: none;
        }
    }
}